<! DOCTYPE HTML>
<htmk>
    <head>
        {%if l %}
         <link rel="stylesheet" type="text/css" href= "{{l}}">
        {%endif%}
        <title>
            Pups and Puppers
        </title>   
    </head>
    <body style="background: gradient(blue,white);">
        <div style = "margin:auto;">
            {%if img %}
            <div style="display:block;margin:auto;height:100%;width:90%;border:solid black;text-align:center;background: url({{img}});background-repeat:no-repeat;background-size:100%;">
                
                    <!--<img style= "margin:auto;width:90%;height:90%;border:solid black;border-radius:25x;"src= " {{img}} "/>-->
                {%endif%}
                {% if tweet %}
                <div style = "background-color:white;opacity:.3;text-align:center;position:absolute;left:400px;top:250px;width:350px;">
                    <h1>{{tweet.t}}-<a href ="{{tweet.l}}">{{tweet.u}}</a></h1>
                {%endif%}
                </div>
                    
            </div>
            
        </div>
    </body>
    
</htmk>