<! DOCTYPE HTML>
<htmk>
    <head>
        {%if l %}
         <link rel="stylesheet" type="text/css" href= "{{l}}">
        {%endif%}
        <title>
            Pups and Puppers
        </title>   
    </head>
    <body>
        <div style = "margin:auto;">
            {%if img %}
            <div style="display:block;margin:auto;width:80%;height:80%;border:solid black;text-align:center;background: url({{img}});background-repeat:no-repeat;">
                
                    <!--<img style= "margin:auto;width:90%;height:90%;border:solid black;border-radius:25x;"src= " {{img}} "/>-->
                {%endif%}
                {% if tweet %}
                <div style = "height:300px;width:350px;text-align:center;position:absolute;left:200px;top:300px;">
                    <h1>{{tweet.t}}-<a href ="{{tweet.l}}">{{tweet.u}}</a></h1>
                {%endif%}
                </div>
                    
            </div>
            
        </div>
    </body>
    
</htmk>